In [1]:
sale = [80, 60, 22, 50, 75]

In [2]:
print("現在のデータは", sale, "です。")

現在のデータは [80, 60, 22, 50, 75] です。

In [3]:
print("最大のデータは", max(sale), "です。")

最大のデータは 80 です。

In [4]:
print("最小のデータは", min(sale), "です。")

最小のデータは 22 です。

In [5]:
print("データの合計は", sum(sale), "です。")

データの合計は 287 です。

In [6]:
print("ソートされたデータは", sorted(sale), "です。")

ソートされたデータは [22, 50, 60, 75, 80] です。

In [ ]:
print("ソートされたデータは", sorted(sale, reverse = True), "です。")

In [ ]:
# Trueなら降順,Falseなら昇順